<form [formGroup]="datosPersonales" (ngSubmit)="onSubmit()">
    <mat-card-content class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <mat-form-field appearance="outline">
                    <mat-label>Técnico</mat-label>
                    <input readonly matInput [value]="nombreTecnico" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de Visita</mat-label>
                    <input readonly matInput [matDatepicker]="picker2" formControlName="fechaVisita" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-start">
            <!-- <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado" autocomplete="off">
                        <mat-option *ngFor="let estado of estados" [value]="estado">
                            <div *ngIf="estado === 'ACTIVO/A'" class="opt">{{ estado }} <div class="greendot"></div></div>
                            <div *ngIf="estado === 'INSCRITO'" class="opt">{{ estado }} <div class="reddot"></div></div>
                            <div *ngIf="estado === 'POR VISITAR'" class="opt">{{ estado }} <div class="yellowdot"></div></div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input readonly matInput [matDatepicker]="picker" formControlName="fechaNacimiento" autocomplete="off" [max]=maxDate18Years>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Cédula de Identidad</mat-label>
                    <input matInput placeholder="Ex. 0945785861" formControlName="cedula" autocomplete="off">
                    <mat-error *ngIf="datosPersonales.get('cedula').invalid">{{getErrorMessage(datosPersonales.get('cedula'))}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre del Agricultor</mat-label>
                    <input matInput placeholder="Ex. Jorge Almeida" formControlName="nombre" autocomplete="off">
                    <mat-error *ngIf="datosPersonales.get('nombre').invalid">{{getErrorMessage(datosPersonales.get('nombre'))}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Género</mat-label>
                    <mat-select formControlName="genero" autocomplete="off">
                        <mat-option *ngFor="let genero of generos" [value]="genero">
                        {{genero}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Presenta Discapacidad</mat-label>
                    <mat-select formControlName="isDiscapacitado" autocomplete="off">
                        <mat-option *ngFor="let dis of discapacidad" [value]="dis">
                            {{dis}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Estado Civil</mat-label>
                    <mat-select formControlName="estadoCivil" autocomplete="off">
                        <mat-option *ngFor="let estado of estadosCiviles" [value]="estado">
                        {{estado}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Nivel de Eduación</mat-label>
                    <mat-select formControlName="nivelEducacion" autocomplete="off">
                        <mat-option *ngFor="let edu of educacion" [value]="edu">
                        {{edu}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <h4>Contacto</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="row justify-content-end">
                    <div class="col-md-12">
                        <div formArrayName="celulares" class="row" *ngFor="let celular of getFormArray('celulares').controls; let i = index">
                            <div [formGroupName]="i" class="col-md-10 col-xs-8">
                                <mat-form-field appearance="outline">
                                    <mat-label>Celular {{ i + 1 }}</mat-label>
                                    <input matInput placeholder="Ex. 0945316795" formControlName="celular" autocomplete="off">
                                    <mat-error *ngIf="celular.get('celular').invalid">{{getErrorMessage(celular.get('celular'))}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 col-xs-4 fit">
                                <button id="delete" *ngIf="getFormArray('celulares').length > 0" (click)="deleteCelular(i)" mat-flat-button>
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 add-button">
                        <button type="button" (click)="addCelular()" mat-flat-button>
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Teléfono Convencional</mat-label>
                    <input matInput placeholder="Ex. 1555777" formControlName="telefono" autocomplete="off">
                    <mat-error *ngIf="datosPersonales.get('telefono').invalid">{{getErrorMessage(datosPersonales.get('telefono'))}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="!isFicticio()">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Vía Principal de Comunicacion</mat-label>
                    <input matInput formControlName="viaPrincipalComunicacion" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Comentarios Adicionales sobre Comunicación</mat-label>
                    <input matInput formControlName="comentariosComunicacion" autocomplete="off">
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="agricultor !== undefined">
            <h4 class="my-2">Histórico</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="row" style="align-items: baseline;">
                        <h6 style="width: 106px;">Monitoreo</h6>
                        <button *ngIf="formulariosVerificacion.length !== 0" mat-icon-button color="primary" class="mt-2" (click)="downloadVerificacion()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="20" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                        </button>
                    </div>
                    <div *ngIf="formulariosVerificacion.length === 0" class="row">
                        <span>No hay registros de Monitoreo</span>
                    </div>
                    <div class="row" *ngFor="let verificacion of formulariosVerificacion">
                        <div class="col-md-8">
                            <mat-form-field appearance="outline">
                                <mat-label>Técnico</mat-label>
                                <input readonly matInput [value]="verificacion.tecnico" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha de Visita</mat-label>
                                <input readonly matInput [value]="verificacion.fechaVisita" autocomplete="off">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" style="align-items: baseline;">
                        <h6 style="width: 125px;">Linea Base</h6>
                        <button *ngIf="formulariosLineaBase.length !== 0" mat-icon-button color="primary" class="mt-2" (click)="downloadLineaBase()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="20" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                        </button>
                    </div>
                    <div *ngIf="formulariosLineaBase.length === 0" class="row">
                        <span>No hay registros de Linea Base</span>
                    </div>
                    <div class="row" *ngIf="formulariosLineaBase.length !== 0">
                        <div class="col-md-8">
                            <mat-form-field appearance="outline">
                                <mat-label>Técnico</mat-label>
                                <input readonly matInput [value]="tecnicoReciente" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha de Visita</mat-label>
                                <input readonly matInput [value]="fechaVisitaReciente" autocomplete="off">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</form>
