#csvFileUpload {
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

.button-container {
  position: fixed;
  bottom: 2%;
  right: 1%;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
