<app-confirm-dialog></app-confirm-dialog>
<app-loading></app-loading>
<div class="container-fluid">
    <div class="row justify-content-center">
        <button mat-button color="primary" class="col-md-4 col-6" (click)="exportAll()">Exportar Todos</button>
        <button mat-button color="primary" class="col-md-4 col-6" (click)="onImportClicked($event)"></button>
        <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="import($event)"
            accept=".csv" />
    </div>
</div>
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="bg-light p-10 p-r-20 p-l-20">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>
                <div class="responsive-table">
                    <mat-table [dataSource]="dataSource" matSort>

                        <!-- Cedula Column -->
                        <!-- <ng-container matColumnDef="cedula">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.secciones.datosPersonales.preguntas.cedula.respuesta}} </mat-cell>
                        </ng-container> -->

                        <!-- Nombre Column -->
                        <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ decodeHtmlCharCodes(row.secciones.datosPersonales.preguntas.nombre.respuesta) }} </mat-cell>
                        </ng-container>

                        <!-- Canton Column -->
                        <ng-container matColumnDef="canton">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Canton </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ decodeHtmlCharCodes(row.secciones.informacionFinca.preguntas.canton.respuesta) }} </mat-cell>
                        </ng-container>

                        <!-- Parroquia Column -->
                        <ng-container matColumnDef="parroquia">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Parroquia </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ decodeHtmlCharCodes(row.secciones.informacionFinca.preguntas.parroquia.respuesta) }} </mat-cell>
                        </ng-container>

                        <!-- Recinto Column -->
                        <ng-container matColumnDef="recinto">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Recinto </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ decodeHtmlCharCodes(row.secciones.informacionFinca.preguntas.recinto.respuesta) }} </mat-cell>
                        </ng-container>

                        <!-- FechaNacimiento Column -->
                        <!-- <ng-container matColumnDef="fechaNacimiento">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Nacimiento </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ formatDate(row.secciones.datosPersonales.preguntas.fechaNacimiento.respuesta) }} </mat-cell>
                        </ng-container> -->

                        <!-- Acciones Column -->
                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <!--button mat-mini-fab color="accent" style="margin-right: 0.5rem;"><mat-icon>file_download</mat-icon></button-->
                                <button mat-icon-button color="primary" class="m-r-5 m-l-5"
                                    (click)='onItemSelected(row)'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </button>
                                <!-- <button mat-icon-button color="warn" (click)='onTrashCanClicked(row)'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-eraser" viewBox="0 0 16 16">
                                        <path
                                            d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z" />
                                    </svg> </button> -->
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="button-container">
    <button mat-fab color="primary" (click)="onAddClicked()" aria-label="Añadir">
        <mat-icon>add</mat-icon>
    </button>
</div>